<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="register" method="POST">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="name" /><br>
            <input type="text" name="username" placeholder="username" /><br>
            <input type="email" name="email" placeholder="email" /><br>
            <input type="password" name="password1" placeholder="Set password" /><br>
            <input type="password" name="password2" placeholder="Confirm" /><br>
            <input type="submit" value="submit" />
        </form>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </body>
</html>